.hover-ul {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit
}

.hover-ul::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-ul:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: inherit;
}