.WIP {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.BIG {
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

.hazard-border {
    color: white;
    background-color: rgb(19, 19, 19);
    border: 10px solid pink;
    border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    ) 10;
}
